.container {
  display: flex;
}
.paragraph,
.images {
  flex: 1;
  margin: 100px 0px;
}

.subheading {
  font-size: 18px;
  color: #101740;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.heading {
  font-size: 50px;
  color: #916332;
  margin: 20px 0px;
  animation: fadeInAnimation 2s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.paragraph1,
.paragraph2 {
  font-size: 16px;
  color: #717171;
  font-family: roboto;
}

.images {
  width: 100%;
  display: flex;
  animation: imageAni 2s ease-in-out forwards;
}

@keyframes imageAni {
  from {
    opacity: 0;
    transform: translateY(+40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.image {
  flex: 1;
  width: auto;
  height: auto;
  object-fit: cover;
}

.image0 {
  margin-top: 10vh !important;
  margin-left: 50px;
}
