.header {
  height: 30px;
  vertical-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  background-color: #333;
  color: white;
}
.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.nav_link {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  margin-left: 40px;
  text-transform: uppercase;
}
