.container {
  margin: 10px 10px 20px 10px;
  width: 100%;
  display: flex;
  position: relative;
  padding: 10px;
  border: solid 1px #3333334d;
}
.left {
  flex: 1;
  overflow: hidden;
}
.right {
  flex: 2;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.box1 {
  flex: 3;
  padding-right: 30px;
}
.features {
  display: flex;
  flex-direction: column;
}
.feature {
  padding: 5px 0px 5px 0px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.title {
  font-size: 28px;
  padding-bottom: 6px;
  border-bottom: solid 4px #333;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}
.address {
  color: blue;
  margin-bottom: 10px;
  font-size: 18px;
}
.check {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.box2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.star {
  display: flex;
  justify-content: center;
  color: goldenrod;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price {
  font-size: 25px;
  color: #333;
  font-weight: bold;
}
.button {
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  height: 25px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
