.container {
  background-color: #e1e1e1;
  width: 100%;
  height: 60px;
  display: flex;
  // position: absolute;
  // margin-top: -120px;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  border-radius: 5px;
  padding: 20px;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-left: solid 1px #8f8f8f;
  border-right: solid 1px #8f8f8f;
}

.sectionLabel {
  color: #606060;
  font-size: 18px;
  margin-bottom: 10px;
}

.sectionData > span {
  color: #000 !important;
  font-size: 28px;
  font-weight: bold;
}

.sectionButton {
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.largeText > input {
  margin-top: 0px;
  height: 40px;
  width: 100%;
  border: none;
  background-color: #e1e1e1;
  color: #000;
  font-size: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}

.dateRange {
  position: absolute;
  z-index: 1;
  margin-top: 80px;
}
.options {
  z-index: 1;
  width: 20%;
  background-color: #fff;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-top: 80px;
  padding: 20px;
}
.subOption {
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
}
.optionValue > button {
  font-size: 18px;
  border: none;
  height: 30px;
  width: 25px;
  background-color: #333;
  color: #fff;
}
.optionValue > button:hover {
  background-color: #e1e1e1;
  color: #000;
  border: solid 1px #333;
  cursor: pointer;
}

.optionValue > span {
  margin: 0px 10px 0px 10px;
}
