.hotel {
  border-radius: 20px;
  display: flex;
  background-color: #fff9f5;
  margin: 20px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.507);

  .left {
    flex: 2;

    width: 100%;
  }

  .right {
    flex: 3;
    .info {
      padding: 20px;

      .review {
        margin: 10px 0px;
      }

      .detailButton {
        width: fit-content;
        padding: 10px 0px;
        background-color: #fff;
        display: flex;
        align-items: center;
        margin: 10px 0px;
        transition: all 0.5s;

        &:hover {
          background-color: #9a8c98;
        }

        .icon {
          margin-left: 10px;
        }
      }
    }
    .price {
      display: flex;
      justify-content: end;
      padding: 5px 20px 15px 20px;
    }
  }
}
.link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

.button {
  margin: 0px 6px;
  padding: 10px 15px;
  background-color: #4a4e69;
  border-radius: 10px;
  border: none;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background-color: #22223b;
  }
}
