.container {
  margin-top: 20px;
}

.section {
  margin: 10px 0px;
  padding: 8px;
}
.heading {
  font-size: 16px;
  color: #9a8c98;
  font-weight: 600;
  margin-bottom: 20px;
}
.data {
  font-size: 18px;
}
