.container {
  max-width: 80%;
  margin: 0px auto;

  .wrapper {
    display: flex;
    margin-top: 60px;
    gap: 30px;
    .profile {
      flex: 1;
      border: solid 2px #9a8c98;
      padding: 30px 40px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      .mainTitle {
        .userTitle {
          font-size: 40px;
          color: #22223b;
          font-weight: 500;
        }
      }

      .logoutLast {
        margin-top: auto;
        .logout {
          width: 100%;
          margin-top: 20px;
          border-radius: 10px;
          border: none;
          padding: 10px;
          font-size: 18px;
          background-color: #4a4e69;
          color: #fff;
          text-transform: uppercase;
          transition: all 0.3s;
          cursor: pointer;

          &:hover {
            background-color: #9a8c98;
            color: #fff;
          }
        }
      }
    }
    .booking {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.507);
      padding: 35px 45px;
      flex: 3;
    }
  }
}
